<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">




  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js,
then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<div class="card">
  <div class="card-body">
    <div class="container" style="font-size: 1.89vh" *ngIf="afficherContenuSupprimer==false">
      <div class="border">
          <label class="mybtn">
            <i class="fa fa-exchange"></i>AJOUTER UNE FACTURE EN FAVORIS
          </label>
          <label class="mybtn" style="float: right;" (click)="ngafficherContenuSupprimer()">
            <i class="fa fa-trash"></i>FACTURE FAVORIS SUPPRIME
          </label>
          <form [formGroup]="formFactureFavoris">

              <div class="form-group has-search">
                  <div class="row">
                      <div class="col">
                        <label style="font-weight: bold;" for="test">Type facture</label>
                        <!-- <span class="fa fa-search form-control-feedback"></span> -->
                        <!-- <input type="number" class="form-control" formControlName="typeFacture"  /> -->
                        <!-- <input [formControl]="facturier" type="text" class="form-control" placeholder="Rechercher par Facturier" (keypress)="omit_special_char($event)" /> -->
                        <select class="form-control" id="typeFacture" formControlName="typeFacture" >
                          <option
                            *ngFor="let facturier of listeFacturiers"
                            [selected]="facturier === ngDropdown"
                            [value]="facturier.id"
                          >
                            {{ facturier.facturier }}
                          </option>
                        </select>
                      </div>
                      <div class="col">
                        <label style="font-weight: bold;" for="test">Réference Facture</label>
                          <!-- <span class="fa fa-search form-control-feedback"></span> -->
                          <input type="text" class="form-control" formControlName="reference" />
                      </div>
                      <div class="col">
                        <label style="font-weight: bold;" for="test">Nom complet</label>
                        <!-- <span class="fa fa-search form-control-feedback"></span> -->
                        <input type="text" class="form-control" formControlName="nomComplet" />
                        <!-- <input [formControl]="facturier" type="text" class="form-control" id="test" placeholder="Rechercher par Facturier" (keypress)="omit_special_char($event)" /> -->
                      </div>
                      <div class="col" style="margin-top: 28px;">
                        <button style="text-align: left;padding-left: initial;text-align: center;" type="button" (click)="annulerFactureFavoris()"  class="form-control btn btn-warning">Annuler</button>
                      </div>
                    <div class="col" *ngIf="afficherBouton==true" style="margin-top: 28px;">
                      <button style="text-align: left;padding-left: initial;text-align: center;" type="button" (click)="desactiverFactureFavoris()"  class="form-control btn btn-danger">Supprimer</button>
                    </div>
                    <div class="col" style="margin-top: 28px;">
                      <button style="text-align: left;padding-left: initial;text-align: center;" type="button" (click)="saveFactureFavoris()"  class="form-control btn btn-success">Enregistrer</button>
                    </div>
                  </div>
              </div>
          </form>
      </div>

    <div class="table-responsive">

      <table style="text-size-adjust: auto;font-size: 14px;" data-toggle="table" data-pagination="true" data-pagination-h-align="left" data-pagination-detail-h-align="right " class="table table-sm table-striped table-hover table-center">
          <thead>
              <tr>
                  <th style="width: 13% !important;">TYPE FACTURE</th>
                  <th style="width: 19% !important;text-align: center !important;">IDENTIFIANT FACTURE</th>
                  <th style="width: 19% !important;text-align: center !important;">NOM COMPLET</th>
                  <!-- <th>NUMERO RECU</th> -->
                  <th style="width: 19% !important;text-align: center !important;">ACTIONS</th>

                  <!-- <th>PAGE MODULE</th> -->

              </tr>
          </thead>
          <tbody id="myTable ">
            <tr *ngFor= "let row of listFactureFavoris | paginate: {itemsPerPage:7,currentPage:p};">
              <td>{{row.vfacturier.facturier}}</td>
              <td style="width: 19% !important;text-align: center !important;">{{row.reference}}</td>
              <td style="width: 19% !important;text-align: center !important;">{{row.nomComplet}}</td>
              <td style="width: 19% !important;text-align: center !important;">
                <button  (click)="onEdit(row)" data-toggle="modal" data-target="#modalfacturefavoris" class="btn mx-0"><i style="color: #491e06;font-size: 20px;" class="fa fa-eye" aria-hidden="true"></i></button>
                <!-- <button  (click)="onDelete(row)"  class="btn mx-0"><i style="color: #e6390e;font-size: 20px;" class="fa fa-trash-o" aria-hidden="true"></i></button> -->
              </td>
            </tr>
          </tbody>

      </table>
      <pagination-controls (pageChange) = "p = $event" style="text-align: center;"></pagination-controls>

    </div>
  </div>
  <!---------------------------------------------------------------------------------------------------------------------------------
  -----------------------------------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------------------------------
  -----------------------------------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------------------------------
  -----------------------------------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------------------------------
  ----------------------------------------ETAPE D'ACTIVATION FACTURE FAVORIS-------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------------------------------
  -----------------------------------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------------------------------
  -----------------------------------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------------------------------
  -----------------------------------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------------------------------
  -----------------------------------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------------------------------------------------------->
    <div class="container" style="font-size: 1.89vh" *ngIf="afficherContenuSupprimer==true">
      <div class="border">
          <label class="mybtn">
            <i class="fa fa-exchange"></i>AJOUTER UNE FACTURE EN FAVORIS
          </label>
          <label class="mybtn" style="float: right;" (click)="ngafficherContenuFactureFavoris()">
            <i class="fa fa-arrow-left"></i>RETOUR
          </label>
          <form [formGroup]="formFactureFavoris" *ngIf="afficherBouton==true">

              <div class="form-group has-search">
                  <div class="row">
                      <div class="col">
                        <label style="font-weight: bold;" for="test">Type facture</label>
                        <!-- <span class="fa fa-search form-control-feedback"></span> -->
                        <!-- <input type="number" class="form-control" formControlName="typeFacture"  /> -->
                        <!-- <input [formControl]="facturier" type="text" class="form-control" placeholder="Rechercher par Facturier" (keypress)="omit_special_char($event)" /> -->
                        <select class="form-control" id="typeFacture" formControlName="typeFacture" >
                          <option
                            *ngFor="let facturier of listeFacturiers"
                            [selected]="facturier === ngDropdown"
                            [value]="facturier.id"
                          >
                            {{ facturier.facturier }}
                          </option>
                        </select>
                      </div>
                      <div class="col">
                        <label style="font-weight: bold;" for="test">Réference Facture</label>
                          <!-- <span class="fa fa-search form-control-feedback"></span> -->
                          <input type="text" class="form-control" formControlName="reference" />
                      </div>
                      <div class="col">
                        <label style="font-weight: bold;" for="test">Nom complet</label>
                        <!-- <span class="fa fa-search form-control-feedback"></span> -->
                        <input type="text" class="form-control" formControlName="nomComplet" />
                        <!-- <input [formControl]="facturier" type="text" class="form-control" id="test" placeholder="Rechercher par Facturier" (keypress)="omit_special_char($event)" /> -->
                      </div>
                      <div class="col" style="margin-top: 28px;">
                        <button style="text-align: left;padding-left: initial;text-align: center;" type="button" (click)="annulerFactureFavoris()"  class="form-control btn btn-warning">Annuler</button>
                      </div>
                    <div class="col" *ngIf="afficherBouton==true" style="margin-top: 28px;">
                      <button style="text-align: left;padding-left: initial;text-align: center;" type="button" (click)="desactiverFactureFavoris()"  class="form-control btn btn-success">Activer</button>
                    </div>
                    <!-- <div class="col" style="margin-top: 28px;">
                      <button style="text-align: left;padding-left: initial;text-align: center;" type="button" (click)="saveFactureFavoris()"  class="form-control btn btn-success">Enregistrer</button>
                    </div> -->
                  </div>
              </div>
          </form>
      </div>

      <div class="table-responsive">

        <table style="text-size-adjust: auto;font-size: 14px;" data-toggle="table" data-pagination="true" data-pagination-h-align="left" data-pagination-detail-h-align="right " class="table table-sm table-striped table-hover table-center">
            <thead>
                <tr>
                    <th style="width: 13% !important;">TYPE FACTURE</th>
                    <th style="width: 19% !important;text-align: center !important;">IDENTIFIANT FACTURE</th>
                    <th style="width: 19% !important;text-align: center !important;">NOM COMPLET</th>
                    <!-- <th>NUMERO RECU</th> -->
                    <th style="width: 19% !important;text-align: center !important;">ACTIONS</th>

                    <!-- <th>PAGE MODULE</th> -->

                </tr>
            </thead>
            <tbody id="myTable ">
              <tr *ngFor= "let row of listFactureFavorisDesactiver | paginate: {itemsPerPage:7,currentPage:p};">
                <td>{{row.vfacturier.facturier}}</td>
                <td style="width: 19% !important;text-align: center !important;">{{row.reference}}</td>
                <td style="width: 19% !important;text-align: center !important;">{{row.nomComplet}}</td>
                <td style="width: 19% !important;text-align: center !important;">
                  <button  (click)="onEdit(row)" data-toggle="modal" data-target="#modalfacturefavoris" class="btn mx-0"><i style="color: #491e06;font-size: 20px;" class="fa fa-eye" aria-hidden="true"></i></button>
                  <!-- <button  (click)="onDelete(row)"  class="btn mx-0"><i style="color: #e6390e;font-size: 20px;" class="fa fa-trash-o" aria-hidden="true"></i></button> -->
                </td>
              </tr>
            </tbody>

        </table>
        <pagination-controls (pageChange) = "p = $event" style="text-align: center;"></pagination-controls>

      </div>
    </div>
  </div>
</div>

